.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;

}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: #ffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}


.delete-button {
  background-color: hsl(10, 90%, 54%);
}

.delete-button:hover {
  background-color: hsl(10, 90%, 44%);
}

.moveUpTask-button {
  background-color: hsl(207, 90%, 64%);
}

.moveUpTask-button:hover {
  background-color: hsl(207, 90%, 54%);
}

.moveDownTask-button {
  background-color: hsl(207, 90%, 64%);
}

.moveDownTask-button:hover {
  background-color: hsl(207, 90%, 54%);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 80%, 0.5);
  border-radius: 8px;
  color: #000000;
}

ol {
  padding: 0;

}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 8px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.text {
  flex: 1;
}

.delete-button,
.moveDownTask-button,
.moveUpTask-button {
  padding: 10px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}